
.small-text {
  font-size: 0.9em; /* Adjust the value to reduce the font size */
}

.smaller-text {
  font-size: 0.83em; /* Adjust the value to reduce the font size */
}

.very-small-text {
  font-size: 0.76em; /* Adjust the value to reduce the font size */
}

.tiny-text {
  font-size: 0.7em; /* Adjust the value to reduce the font size */
}

.so-tiny-text {
  font-size: 0.6em; /* Adjust the value to reduce the font size */
}

.big-text {
  font-size: 1.2em; /* Adjust the value to increase the font size */
}



.center-content{
  text-align:center;
}

.right-content{
  text-align:right;
}

